body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22vr 1fr 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
}
header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #3B4F66;
    width: 100%;
    height: 100%;
    text-align: center;
}
main{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 80%;
    padding: 1%;
}
#logotipo{
    width: 20%;
}
@media screen and (max-width: 480px){
    #logotipo{
        width: 50%;
    }
}
footer{
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #82B36B;
    text-align: center;
    
}
footer>p{
    margin-top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #9AD46C;
    font-weight: bold;
}
footer>ul{
    display: flex;
    justify-content: center;
}
footer>ul>li>a>img{
    width: 50px;
}
#areausuario{
    width: 100%;
   display: flex;
   justify-content: right;
   background-color: white;
}
#areausuario>nav>ul, #menu>nav>ul{
    display: flex;
    justify-content: right;
    text-align: right;
}
@media screen and (max-width: 480px){
    #areausuario>nav>ul, #menu>nav>ul{
        display: flex;
        flex-direction: column;
        
    }
    #areausuario>nav>ul>li:nth-child(even), #menu>nav>ul>li:nth-child(even){
        display: none;
    }
}
@media screen and (max-width:480px){
    header>#menu, header>#menu, header>#areausuario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* #areausuario>nav>ul>li:last-child, #menu>nav>ul>li:last-child{
    
} */

#areausuario>nav>ul>li, #menu>nav>ul>li, footer>ul>li{
    list-style-type: none;
    margin-right: 15px;
    font-weight: bold;
    color: #2D3437;
}
@media screen and (max-width: 480px){
    #areausuario>nav>ul>li, #menu>nav>ul>li, footer>ul>li{
        margin-bottom: 10px;
        text-align: center;
        font-family: bold;
        font-size: 30px
    }
}


#menu{
    width: 100%;
    background-color: #82B36B;
}

header>div, header>div>nav, #menu{
    display: flex;
    justify-content: right;
}

.sessao1{
    background-color: #D9DBDB;
}
